<hmtl>
<head>
<title>Task Week 2</title>
</head>
<body>
<div id ="container">
<div id="header">
<h1>My website<h1>
</div>

<div id="content">
<div id="main">
<h2>Index page</h2>
<img src="passport.jpg">
<p>Emmanuel Ami-okhani was born on December 20th, 1995 in Kaduna, Kaduna south local government area of Kaduna State of Nigeria. He studied Transport Management Technology  at the prestigious  Federal University of Technology,  Minna(FUTMinna) and thereafter did  his youth service at the Abuja Urban Mass Transport Company.<p/>
<p>He is Pan-African idealist passionate about good governance, climate change, social democracy and information technology. His hobbies are watching football, meeting new persons and surfing the internet <p/>
<p>Currently he is an intern at ehealth4veryone.<p/>
</div>
</div>
<div class="contact-title">
<h2>Contact Page</h2>
<div class="contact-form">
<form id="contact-from" method="post" action="">
<input name="name" type="text" class="form-control" placeholder="Your name" required><br>
<input name="email" type="email" class="form-control" placeholder="Your Email" required><br>
<textarea name="Message"  class="form-control" placeholder="Message" rows="5" required></textarea><br>
<input  type="submit" class="form-control submit" value="Send message-box" required><br>
</form>
</div>
</div>

<div id="footer">
copyright &copy;2019 Emmanunuel Ami-okhani 
</div>
</div>
</body>
</html>